# Do not rename, used by auth.js
AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_TRUST_HOST=http://localhost:5173

VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=

# Public URLS
VITE_SOLARMAN_URL=https://globalapi.solarmanpv.com
VITE_GOE_URL=https://snr.api.v3.go-e.iogg
VITE_AWATTAR_API=https://api.awattar.at/v1
